In [6]:
import pandas as pd

In [22]:
women_percent_data = pd.read_excel('../data/workforce-07-1.xls')

In [23]:
women_percent_data.head(10)

,Women as a percentage of all workers in S&E occupations: 1993–2010,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,(Percent),NaN,NaN,NaN,NaN,NaN,NaN
1,Year,All S&E \noccupations,Biological/ \nagricultural/ \nenvironmental\nl...,Physical\nscientists,Computer/ \nmathematical \nscientists,Engineers,Social scientists/\npsychologists
2,1993,22.9,34,21.3,30.8,8.6,50.7
3,1995,22.4,34.7,21.5,29,8.6,49.9
4,1997,22.7,36,21.7,27,9,51.9
5,1999,23.6,36.4,23,27.1,9.5,54
6,2003,26.3,40.3,28.5,28.4,11.1,52.2
7,2006,26.1,43.7,28.4,26.5,11.6,54.2
8,2008,26.8,45,29.7,26.3,12.9,52.9
9,2010,27.5,48.2,30,25.1,12.7,58.1

In [24]:
women_percent_data.shape

(10, 7)

In [25]:
diversity_data = pd.read_excel('../data/censusoccupations.xlsx')

In [26]:
diversity_data.head()

,"Table with row headers in column A, and column headers in rows 5 through 204. Leading dots indicate subparts.",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,"Table 1. STEM Occupations by Sex, Race, and Hi...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Civilian employed age 25 and over,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Total1,NaN,"White alone, non-Hispanic4",NaN,NaN,NaN,"Black or African American alone, non-Hispanic",NaN,NaN,...,"Asian alone, non-Hispanic",NaN,NaN,NaN,Hispanic or Latino,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,Total,NaN,NaN,NaN,Total,NaN,NaN,...,Total,NaN,NaN,NaN,Total,NaN,NaN,NaN,NaN,NaN

In [27]:
diversity_data.shape

(212, 21)