In [2]:
import pandas as pd

In [3]:
diversity_data = pd.read_csv('../data/stem_2021.csv')

In [4]:
diversity_data.head()

,area,area_name,naics,naics_name,STEM_group,tot_emp,pct_total,emp_prse,h_mean,a_mean,...,h_pct10,h_pct25,h_median,h_pct75,h_pct90,a_pct10,a_pct25,a_median,a_pct75,a_pct90
0,99,U.S.,0,Cross-industry,STEM,"9,263,190",6.6,0.3,48.51,"100,900",...,22.77,29.89,45.87,61.56,79.39,"47,370","62,170","95,420","128,050","165,130"
1,99,U.S.,0,Cross-industry,nonSTEM,"131,623,120",93.4,0.0,26.57,"55,260",...,11.40,14.32,19.29,29.89,47.70,"23,700","29,780","40,120","62,160","99,220"